html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Arial";
  background: url('/background.png');
}


/* NAVIGATION */
nav {
  height: 40px;
  font-size: 25px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  z-index: 1;
  text-shadow: 0 -1px 0 #bbb;
  color: #eee;
  font-family: Helvetica Neue, Helvetica, arial;
  line-height: 25px;
  padding-left: 25px;
  box-sizing: border-box;
}

#at-nav-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
  background: -moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -o-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: -ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7', GradientType=0);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}

#at-nav-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
  background: -moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -o-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: -ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad', GradientType=0);
  background-color: #5972a7;
}

#at-nav-button:active {
  position: relative;
  top: 1px;
}


/* INSTAGRAM */

#photos-container {
    position: absolute;
    left: 50%;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    overflow: scroll;
    right: 0;
    bottom: 0;
    top: 40px;
    overflow: auto;
}

.photo {
  opacity: 1.0;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  width: 100%;
}

#zoomed {
  opacity: 1.0;
  width: 100%;
  margin-left: 50px;
}

#zoomed-image {
  display: none;
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 9000;
  background: rgba(0, 0, 0, .8);
}

#zoomed-image img {
  display: block;
  text-align: center;
  margin: 20px auto;
  position: relative;
  max-width: 90%;
  max-height: 80%;
  border: solid 2px #fff;
}

.greyed {
  opacity: 0.05;
}

.hide {
  opacity: 0.0;
}

.close {
  position: fixed;
  top: 20px;
  opacity: .8;
  z-index: 9999;
  right: 20px;
  padding: 5px;
}

.close:hover {
  opacity: 1;
}

#social {
  float: right;
  margin-top: 5px;
}

#login {
  margin: 2px 20px 0 0;
}

.popupPhoto {
  height: 250px;
  width: 250px;
}

.popupText {
  position: relative;
  text-shadow: 0 -1px 0 #bbb;
  color: #333;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 14px;
  line-height: 25px;
  padding: 4px 45px 4px 15px;
  font-weight: bold;
}

.profilePicture {
  height: 30px;
  width: 30px;
}

.userInfo {
  padding-top: 9px;
}

.photodiv {
  position: relative;
}

@media all and (min-width: 640px) {
  .photodiv {
    display: inline-block;
    width: 32%;
  }
}

@media all and (min-device-width: 320px) and (max-device-width: 640px) {
  .photodiv {
    position: relative;
    display: inline-block;
    width: 100%;
  }
}

.photodiv a {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.photodiv a span {
  color: white;
  font: bold 18px/30px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}


/* SOCIAL SPRITES */

.social-coffee {
  position: absolute;
  bottom: 20%;
  left: 30%;
  display: none;
  width: 100%;
  a {
    display: inline;
  }
}

$social-button: url('/socialbuttons.png');
.facebook {
  position: relative;
  margin-left: 60px;
}

.twitter-button {
  background: $social-button -3px -153px;
  height: 52px;
  opacity: .95;
  width: 50px;
}

.twitter-button:hover {
  background: $social-button -3px -102px;
  height: 49px;
  opacity: .9;
  width: 50px;
}

.fb-button {
  background: $social-button -3px -52px;
  height: 49px;
  opacity: .95;
  width: 50px;
}

.fb-button:hover {
  background: $social-button -3px -2px;
  height: 49px;
  width: 50px;
  opacity: .9;
}


/* GOOGLE MAPS */
#map_canvas {
    position: absolute;
    left: 0;
    right: 50%;
    top: 40px;
    bottom: 0;
}

#searchTextField,
#searchByHashtag {
  margin: 5px 0 5px 50px;
}

.no-photos {
  color: white;
  margin: 50px 0px 0px 30px
}

.caption {
  display: none;
  position: absolute;
  top: 0;
  left: 2%;
  width: 100%;
  z-index: 1;
  margin-top: 15%;
  padding: 10px;
}

.caption a {
  display: inline;
  width: 90%;
}

.caption a span {
  position: relative;
  text-shadow: 0 -1px 0 #bbb;
  color: #eee;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  background: none;
}

.tip {
  margin-left: 20px;
  font-size: 14px;
}

.at-form {
  background-color: white;
  max-width: 500px;
  text-align: center;
  margin: 2rem auto;
  padding: 4rem;
  width: 44rem;
  .at-social-btn {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
  }
  .at-social-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
  }
  .at-social-btn:active {
    position: relative;
    top: 1px;
  }
  #at-btn {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
  }
  #at-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
  }
  #at-btn:active {
    position: relative;
    top: 1px;
  }
  #at-field-email {
    border: solid 5px #969696;
  }
  #at-field-password {
    border: solid 5px #969696;
  }
}
